@import '../../../styles/const';

.root {
  font-family: Roboto, 'sans-serif';
  display: flex;
  padding: 40px;
}

.poster {
  display: inline-block;
  width: 400px;
  height: 550px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $mainColor;
}

.info {
  display: inline-block;
  margin-left: 30px;
}

.caption {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.desc {
  display: inline-block;
  max-width: 500px;
}
