.movies_list {
  margin: 20px auto;
  max-width: 1200px;
}

.movie_item {
  display: inline-block;
  position: relative;

  img {
    width: 200px;
    padding: 10px;
  }
}

.movie_title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}