@import '../../../styles/const';

.movies_list {
  margin: 20px auto;
}

.movie_item {
  width: 200px;
  height: 300px;
  padding: 10px;
  display: inline-block;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;

    .movie_detail {
      display: block;
    }
  }
}

.movie_detail {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  line-height: 40px;
  width: 200px;
  background-color: rgba(0,0,0,0.6);
}

.movie_title {
  font-family: 'Roboto', sans-serif;
  color: white;
}

@media only screen and (max-width: $desktopMinWidth) {

}