@import '../../../styles/const';

.pagination {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.navigationItem {
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
}

.navigationButton {
  padding: 5px 10px;
  border-radius: 50%;
  color: $mainColor;
  text-align: center;
  background: transparent;
  border: none;
  transition: background 0.5s ease-out;
}

.navigationActiveItem {

  .navigationButton {
    background: $mainColor;
    color: white;
  }
}